*
{	
	box-sizing: border-box;
}

/*apply styling to all classes that start with "grid-"*/
[class^='grid-']
{
	padding:0;
	margin:0;
}

/*.content-container, .container*/
.content-container, .container,  .product-row /*, #content */
{
	display: flex;
	flex-wrap: wrap;
	/*border: solid 1px rgb(4, 153, 4);*/
}

.box, .block
{
/*	border: solid 1px red;*/
	flex: 1 1 auto;
}


/* default sizing of columns */
.grid-col-1of3, .product-item
{
	width: 30%; /* taking padding into account*/
	/*border: solid 1px rgb(4, 153, 4);*/
}

.grid-col-1of2
{
	width:48%;
	/*border: solid 1px rgb(4, 153, 4);*/
}

.grid-col-1of1
{
	width: 90%;
	/*border: solid 1px rgb(4, 153, 4);*/
}

/* MEDIA QUERY *************************************/

@media (max-width: 82em)
{
	.product-item.block, .column-about.block
	{
		width:29%;
		flex: 1 1 29%;
	}

}



@media (max-width:1242px)
{
	.nav-bar{
		margin-right: 0rem;
	}
	
	
}


@media (max-width:1095px)
{
	.nav-bar{
		margin-right: 0rem;
	}
	
	.button-nav{
		padding-left:1.5rem;
		padding-right:1.5rem;
	}
	
}



@media (max-width:943px)
{
	.nav-bar{
		margin-right: 0rem;
	}
	
	.button-nav{
		padding-left:1rem;
		padding-right:1rem;
	}
	
}



@media (max-width:803px)
{

	.nav-bar{

	margin-bottom: 1rem;
	text-align: center;
	

	}
	


	div.logo{
		
	margin-bottom: 1rem;
	position: relative;
	left:42%;
	transform: translateX(-45%);
	 width:350px;
	 height:40px;

	}
	
}



@media (max-width:585px)
{


	div.logo{

	margin-left: -1rem;
		
	margin-bottom: 1rem;
	position: relative;
	left:42%;
	transform: translateX(-50%);
	 width:260px;
	 height:28px;

	}
	
}



@media (max-width:1143px)
{
	h1.promo{
		margin-top: 4rem;
	}
	
}


@media (max-width: 1043px)
{
	h1.promo{
		font-size: 2rem;
	}

	h2.promo{
		font-size: 2rem;
	}

}


@media (max-width: 858px)
{
	h1.promo{
		font-size: 1.8rem;
	}

	h2.promo{
		font-size: 1.5rem;
	}

	p.homecontent2{
		font-size: 1rem;
	}

}


@media (max-width:763px)
{
	.nav-bar{
		margin-right: 0rem;
	}
	
	.button-nav{
		padding-left:2rem;
		padding-right:2rem;
		padding:1rem;
	}
}








@media (max-width: 64em)
{
	.product-item.block,  .column-about.block
	{
		width:27%;
		flex: 1 1 27%;
	}
}

@media (max-width:699px)
{
	.column-about.block
	{
		flex: 0 0 100%;
	
		margin-top: 2rem;
	}

	.grid-col-1of2, .homefirst
	{
		flex: 0 0 100%;
	}
	
}


@media (max-width:40em)
{
	.product-item.block, .column-about.block, .homefirst
	{
		flex: 0 0 100%;
	}
}

@media (max-width:445px)
{


	.nav-bar{
		margin-right: 2rem;
		margin-bottom: 0rem;

	}


	.cover{
		margin-top: 10px;
	}


	
}

/* CLEAR STYLING **********************************/

body article:after, section:after /*containing text in box*/
{
	content:" ";
	display:block;
	clear:both;
}
