*
{	
	box-sizing: border-box;
}

/*apply styling to all classes that start with "grid-"*/
[class^='grid-']
{
	padding:0;
	margin:0;
}

/*.content-container, .container*/
.content-container, .container,  .product-row /*, #content */
{
	display: flex;
	flex-wrap: wrap;
	/*border: solid 1px rgb(4, 153, 4);*/
}

.box, .block
{
/*	border: solid 1px red;*/
	flex: 1 1 auto;
}


/* default sizing of columns */
.grid-col-1of3, .product-item
{
	width: 30%; /* taking padding into account*/
	/*border: solid 1px rgb(4, 153, 4);*/
}

.grid-col-1of2
{
	width:48%;
	/*border: solid 1px rgb(4, 153, 4);*/
}

.grid-col-1of1
{
	width: 90%;
	/*border: solid 1px rgb(4, 153, 4);*/
}

/* MEDIA QUERY *************************************/

@media (max-width: 82em)
{
	.product-item.block, .column-about.block
	{
		width:29%;
		flex: 1 1 29%;
	}

}

@media (max-width: 64em)
{
	.product-item.block,  .column-about.block
	{
		width:27%;
		flex: 1 1 27%;
	}
}


@media (max-width:54em){


	#content
	{
		width:85%;
	}

	/*fix add to cart button length*/
	.product-item.block a.submit
	{
		padding-left:1.75rem;
		padding-right:1.75rem;
	}

}

@media (max-width:40em){

	#content
	{
		width:90%;
	}

	/* menu and order pages */
	.product-item.block
	{
		flex: 0 0 100%;
		margin-left:0;
	}

	.product-item.block a.submit
	{
		padding-left:3rem;
		padding-right:3rem;
	}

	.product-section
	{
		padding-left:0;
	}

	/*product pages */
	.grid-col-1of2.product-page.block
	{
		flex: 0 0 100%;
	}

	.grid-col-1of2.product-page .product-image
	{
		padding-left:0.5rem;
		padding-right:0.5rem;
	}

	.review-form form, .review-form > h3
	{
		padding-left:0.5rem;
	}

	.review-box .submit.submit-review
	{
		/* make button span width of content */
		display:block;
		width:96%;
		text-align:center;

	}


}

/*//////////////////////*/


@media (max-width:1125px)
{
	.nav-bar
	{
		width:55%;
	}
}


@media (max-width:1000px)
{
	.nav-bar{
		width:45%;
	}
	
	.button-nav{
		padding-left:1.5rem;
		padding-right:1.5rem;
	}
	
}



@media (max-width:943px)
{
	
	.button-nav{
		padding-left:1rem;
		padding-right:1rem;
	}
	
}


@media (max-width:995px)
{
	
	.aboutcontact{
		padding-left:1rem;
		
	}


	h1.abt{
		font-size: 2rem;
	}

	h2.abt{
		font-size: 1.5rem;
	}

	address{
		font-size: 1.25rem;
	}

	p.abt{
		font-size:1rem;
	}
	
}



@media (max-width:803px)
{

	.nav-bar{

	width:100%;
	text-align: center;
	

	}

	.button-nav{
		padding-left:2.5rem;
		padding-right:2.5rem;
	}
	


	div.logo
	{
		
		margin-bottom: 1rem;

	}

	img.logo
	{
		margin-left:0;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
}


@media (max-width:1143px)
{
	h1.promo{
		margin-top: 4rem;
	}

	.social
	{
		width: 30%;
	}
	
}


@media (max-width: 1043px)
{
	h1.promo{
		font-size: 2rem;
	}

	h2.promo{
		font-size: 2rem;
	}

}


@media (max-width: 858px)
{
	h1.promo{
		font-size: 1.8rem;
	}

	h2.promo{
		font-size: 1.5rem;
	}

	p.homecontent2{
		font-size: 1rem;
	}

	.social
	{
		width: 35%;
	}

}


@media (max-width:763px)
{
	.button-nav{
		padding-left:2rem;
		padding-right:2rem;
		padding:1rem;
	}
}



@media (max-width:697px){
	.column-about{

	height: 100%; 
    width: 100%; 
    max-width: 400px; 
    max-height: 400px;
    margin-left:0;
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	}
}


@media (max-width:697px){
	img.map{

	height: 100%; 
    width: 100%; 
    max-width: 400px; 
    max-height: 400px;
    margin-left:0;
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	}
}



@media (max-width:699px)
{
	.column-about.block
	{
		flex: 0 0 100%;
	
		margin-top: 2rem;
	}

	.grid-col-1of2, .homefirst
	{
		flex: 0 0 100%;
	}

	.social
	{
		width: 40%;
	}
	
}

@media (max-width:40em)
{
	.column-about.block, .homefirst
	{
		flex: 0 0 100%;
	}

<<<<<<< Updated upstream
	.footer p.credits
	{
		width:100%;
		padding-left:0;
		text-align:center;
=======




@media (max-width:445px)
{
>>>>>>> Stashed changes

		position: relative;
		left:50%;
		transform:translateX(-50%);
	}

<<<<<<< Updated upstream
	.social
	{
		width: 100%;

		position: relative;
		left:50%;
		transform:translateX(-50%);

		padding-left:0rem;
		margin-left:auto;
		margin-right:auto;

		margin-bottom:2rem;
=======
	.nav-bar{

		margin-right: 2rem;
		margin-bottom: 0rem;
>>>>>>> Stashed changes

	}

	.social-icons
	{
		display:block;
		max-width:50%;
		margin-left:auto;
		margin-right:auto;
		position:absolute;
		left:50%;
		top:25%;
		transform:translateX(-50%);
	}

	.social img
	{
		margin-left:auto;
		margin-right:auto;
	}

}


@media (max-width:445px)
{

	.cover{
		margin-top: 10px;
	}


	
}

/* CLEAR STYLING **********************************/

body article:after, section:after /*containing text in box*/
{
	content:" ";
	display:block;
	clear:both;
}
