*
{	
	box-sizing: border-box;
}

/*apply styling to all classes that start with "grid-"*/
[class^='grid-']
{
	padding:0;
	margin:0;
}

/*.content-container, .container*/
.content-container, .container,  .product-row /*, #content */
{
	display: flex;
	flex-wrap: wrap;
	/*border: solid 1px rgb(4, 153, 4);*/
}

.box, .block
{
/*	border: solid 1px red;*/
	flex: 1 1 auto;
}


/* default sizing of columns */
.grid-col-1of3, .product-item
{
	width: 30%; /* taking padding into account*/
	/*border: solid 1px rgb(4, 153, 4);*/
}

.grid-col-1of2
{
	width:48%;
	/*border: solid 1px rgb(4, 153, 4);*/
}

.grid-col-1of1
{
	width: 90%;
	/*border: solid 1px rgb(4, 153, 4);*/
}

/* MEDIA QUERY *************************************/
@media (max-width:1297px)
{
	.block
	{
		flex: 0 0 30%;
	}
}


@media (max-width:40em)
{
	#content
	{
		margin-left:4rem;
	}

	.block
	{
		flex: 0 0 100%;
	}
}

/* CLEAR STYLING **********************************/

body article:after, section:after /*containing text in box*/
{
	content:" ";
	display:block;
	clear:both;
}
