*
{	
	box-sizing: border-box;
}

/*apply styling to all classes that start with "grid-"*/
[class^='grid-col']
{
	padding:0;
	margin:0;
}

.content-container, .container
{
	display: flex;
	flex-wrap: wrap;
}

.box, .block
{
	flex: 1 1 auto;
}


/* default sizing of columns */
.grid-col-1of3
{
	width: 30%; /* taking padding into account*/
	border: solid 1px rgb(4, 153, 4);
}


/* media query */
@media (max-width:50em)
{
	.block
	{
		flex: 0 0 100%;
	}
}

/* CLEAR STYLING **********************************/

body article:after, section:after /*containing text in box*/
{
	content:" ";
	display:block;
	clear:both;
}
