body 
{ 
	font-family: Affogato-Regular;
	/*margin-left: 1rem;*/
	margin:0;
	padding:0;
}

#content {
	margin-left: 10rem;
	margin-top: 2rem;
	width: 74%
}

code {
	background-color: rgb(211, 211, 211);
	margin-left: 1rem;
	font-family: Affogato-Regular;
	display: inline-block;
}

/* FONTS /////////////////////////////////////*/

@font-face {
    font-family: 'Affogato-Light';
    src: url('webfont/Affogato_Light.woff');
}

@font-face{
	font-family: 'Affogato-Regular';
	src: url('webfont/Affogato_Regular.woff');
}

@font-face{
	font-family:'brandon-grotesque';
	src:url('webfont/Brandon_reg_0.otf');
}

/* ////////////////////////////////////////////*/

.submit {
	background-color: #0CC10C;
	color: white;
	border: 1px solid;
	border-color: #0CC10C;
	padding: 0.4rem;
	padding-left: 3rem;
	padding-right: 3rem;
	font-size: 1rem;
	font-family: Affogato-Regular;
	text-decoration: none;
	border-radius: 5px;
}

.submit:hover, focus {
	color: white;
	background-color: #24c724;
}

.nav-bar {
	float: right;
	margin-right: 7rem;
	margin-top: 1.5rem;
}

.button-nav {
	color: gray;
	display: inline-block;
	padding: 0.3rem;
	padding-left: 1rem;
	padding-right: 5rem;
	font-size: 0.9rem;
	font-family: Affogato-Regular;
	text-decoration: none;
	transition: color 0.5s;
}

.button-nav:hover, focus {
	color: #0CC10C;
	text-decoration: underline;
}

.main {
	font-family: brandon-grotesque, Arial;
	color: #0CC10C;
	font-size: 30px;
}

.product-card {
	padding: 1rem;
	text-align: center;
	vertical-align: top;
	display: inline-block; 
	line-height: 0.1rem;
}

h6 {
	color: red;
}

/*.product-image img {
	max-width: 100%;
}*/

/*.product-info {
	margin-top: auto;
	display: block;
}*/

.sec {
	font-family: brandon-grotesque, Arial;
	color: rgb(65, 64, 66);
	font-size: 24px;
}

.section {
	font-family: brandon-grotesque, Arial;
	color: rgb(65, 64, 66);
	font-size: 20px;
}

.test {
	font-family: Affogato-Regular;
	color: rgb(65, 64, 66);
	line-height: 1.3rem;
	font-size: 14px;
	width: 60%;
}

.product-description 
{
	font-family: Affogato-Regular;
	color: rgb(65, 64, 66);
	line-height: 1.3rem;
	font-size: 14px;
}

input[type=text]
{
	width: 30%;
	padding: 0.5rem;
    margin: 0.4rem 0;
    box-sizing: border-box;
    border: 1px solid gray;
}

textarea
{
	/* reference: https://www.w3schools.com/css/css_form.asp */
	width: 80%;
	height: 120px;
	padding: 0.5rem;
    margin: 0.4rem 0;
    box-sizing: border-box;
    border: 1px solid gray;
    /*resize:none;*/
}

input[type=text]:focus, textarea{
	border: 1px solid #555;
	outline: none;
}

a {
	text-decoration: underline;
	color: #F7CB11;
}

a:hover {
	color: #F9D955;

}

figure{
	display:inline;
}

img.foodpic{
	max-width: 20%;
	max-height: 20%;
}

div.color1{
  background-color:#F7CB11;
  display:inline-block;
}

div.color2{
  background-color: #F8F059;
  display:inline-block;
}

div.color3{
  display:inline-block;
  background-color: #0CC10C;
}

div.color4{
  display:inline-block;
  background-color: #049904;
}

div.logo{
  display:inline-block;
  background-color: gray;
  margin-left: 10rem;
  margin-top: -0.21rem;
}

.cover {
  display:inline-block;
  background-color: gray;
  /*margin-left: -1rem;*/
  width:100%;
  height: 250px;
/*  margin:0 !important; 
  padding:0 !important;*/

  }

/* PRODUCT PAGE ////////////////*/

.grid-col-1of2 > h3
{
	padding:1.5rem;
	margin-left:1rem;
	margin-right:1rem;
}

.grid-col-1of2 > p
{
	padding-left:1.5rem;
	padding-right:1.5rem;
	margin-left:1rem;
	margin-right:1rem;
}

.grid-col-1of2 .product-image
{
	padding:1.5rem;
	width: 90%;

	/* reference: http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/;*/
	position: relative;
	left:50%;
	transform: translateX(-50%);
}


.review-form > h3
{
	padding: 1.5rem;
}

.review-form form
{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 1.5rem;
}

.review-form
{
	margin-left: 2rem;
	/*border: solid 1px green;*/

}

/* PRODUCT LISTING ////////////*/

/* reference: 
   https://www.w3schools.com/howto/howto_css_image_overlay.asp */

.product-item
{
	margin: 1rem;
	display: inline-block;

	width: 30%; /*set width in accordance to # of columns*/
}

.product-image
{
	position: relative;
	max-width:100%;
	height:auto;
}

.product-image img
{
	max-width: 100%;
	max-height: 100%;
}

.product-overlay
{
	position: absolute;
	/*background-color: rgb(182, 212, 51);*/
	background-color: #F9D955;
	top: 0;
 	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 99.25%; /*remove slight extra border at the bottom*/

	opacity:0;
}

.product-item:hover .product-overlay
{
  cursor: pointer;

  /* change opacity*/
  opacity: 0.45;
  transition: opacity 1s ease-in-out;
}


.product-price, .product-name
{
	display:block;
	margin-top: 0.25rem;
}

.product-price
{
	margin-bottom: 1rem;
}

.product-info
{
	margin-top: 0.5rem;
	text-align: center;
}
