body { 
	font-family: Affogato-Regular;
	margin:0;
	padding:0;
	min-height: 100%;
	position: relative;
}

html {
	height: 100%;
}

#content {
	/*margin-left: 10rem;*/
	margin-left:auto;
	margin-right:auto;
	margin-top: 2rem;
	width: 74%;
	height: 100%;

}

code {
	background-color: rgb(211, 211, 211);
	margin-left: 1rem;
	font-family: Affogato-Regular;
	display: inline-block;
}

/* FONTS /////////////////////////////////////*/

@font-face {
    font-family: 'Affogato-Light';
    src: url('webfont/Affogato-Light.woff');
}

@font-face{
	font-family: 'Affogato-Regular';
	src: url('webfont/Affogato-Regular.woff');
}

@font-face{
	font-family:'Affogato-Medium';
	src: url('webfont/Affogato-Medium.woff');
}

@font-face{
	font-family:'brandon-grotesque';
	src:url('webfont/Brandon_reg_0.otf');
}


/* ////////////////////////////////////////////*/

/* HEADERS ////////////////////////////////////*/

h1{
	font-size: 2rem;
	margin-top: 4rem;
}

h1.contact{

	font-size: 2rem;
	margin-top: 11rem;

}


h1.hashtag{
	text-align: center;
	font-size: 3rem;
	color: #0CC10C;
	margin-top: 5rem;
}




p span
{
	display: block;
}

p.homecontent{
	font-size:1.5rem;
	margin-bottom: 6rem;
}

p.homecontent2{

	text-align: center;
	font-size:1.2rem;
	
}


p.hashtagcontent{
	text-align: center;
	font-size: 1.2rem;
	color: gray;
	margin-top: -30px;
	margin-bottom: 5rem;
}


h1.promo{

	text-align: center;
	font-size: 3rem;
	color: #ffcc00;
	margin-top: 8.5rem;

}




h2.promo{

	text-align: center;
	font-size: 2rem;
	color: #0CC10C;
	margin-top: -2rem;

}

h1.abt{
	font-size: 2.5rem;
	text-align: center;
	color: #ffcc00;
}


h2.abt{

	text-align: center;
	font-size: 1.5rem;
	color: #0CC10C;

}

div.abt{

	text-align: center;
	font-size: 2rem;
	color: black;

}



address{
	text-align: center;
	font-style: normal;
	font-size: 2rem;
	color:black;
}

p.abt{

	text-align: center;
	font-size: 1.5rem;
	color:black;

}






/* ////////////////////////////////////////////*/

/* BUTTONS ////////////////////////////////////*/

.submit {
	background-color: #0CC10C;
	color: white;
	padding: 0.4rem;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	font-size: 1rem;
	font-family: Affogato-Regular;
	text-decoration: none;
	border-radius: 5px;
}

.submit:hover, focus {
	color: white;
	opacity: 0.8;
}

.submit-checkout {
	background-color: #0CC10C;
	color: white;
	padding: 0.4rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	margin-top: 5rem;
	margin-right: 1rem;
	font-size: 1rem;
	font-family: Affogato-Regular;
	text-decoration: none;
	border-radius: 5px;
	float: right;
	clear: both;
	display: inline-block;
}

.submit-checkout:hover, focus {
	color: white;
	opacity: 0.8;
}

.submit-back {
	background-color: #A9A9A9;
	color: white;
	padding: 0.4rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	margin-top: 5rem;
	font-size: 1rem;
	font-family: Affogato-Regular;
	text-decoration: none;
	border-radius: 5px;
	float: left;
	display: inline-block;
}

.submit-back:hover, focus {
	color: white;
	opacity: 0.8;
}

.submit-center {
	background-color: #0CC10C;
	color: white;
	padding: 0.4rem;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	margin-top: 2rem;
	margin-left: 40%;
	font-size: 1rem;
	font-family: Affogato-Regular;
	text-decoration: none;
	border-radius: 5px;
	display: inline-block;
}

.submit-center:hover, focus {
	color: white;
	opacity: 0.8;
}

.confirm
{
	text-align: center;
	padding-top: 2rem;
	line-height: 1.5rem;
}

/* ///////////////////////////////////////////*/

/* NAV BAR ///////////////////////////////////*/

.nav-bar {
	float: right;

	margin-right: auto;
	width: 50%;
	/*margin-top: 1.5rem;*/
}

.button-nav {
	color: gray;
	display: inline-block;
	padding: 0.3rem;
	padding-left: 0.1rem;
	padding-right: 5rem;
	font-size: 0.9rem;
	font-family: Affogato-Regular;
	text-decoration: none;
	transition: color 0.5s;
}

.button-nav:hover, focus {

	color: #0CC10C;
	text-decoration: underline;
}

/* //////////////////////////////////////////*/

/*.product-image img {
	max-width: 100%;
}*/

/*.product-info {
	margin-top: auto;
	display: block;
}*/

/* STYLE GUIDE ///////////////////////////////*/

.product-card {
	padding: 1rem;
	text-align: center;
	vertical-align: top;
	display: inline-block; 
	line-height: 0.1rem;
}

.sec {
	font-family: brandon-grotesque, Arial;
	color: rgb(65, 64, 66);
	font-size: 24px;
}

.section {
	font-family: brandon-grotesque, Arial;
	color: rgb(65, 64, 66);
	font-size: 20px;
}

.citationsguide {
	margin-left: 2rem;
	margin-top: 2rem;
	width: 80%;
}

.submit-back-style {
	background-color: #A9A9A9;
	color: white;
	padding: 0.4rem;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	font-size: 1rem;
	font-family: Affogato-Regular;
	text-decoration: none;
	border-radius: 5px;
}

.submit-back-style:hover, focus {
	color: white;
	opacity: 0.8;

}

/* //////////////////////////////////////////*/

/* FORMS ////////////////////////////////////*/

input[type=text] {
	width: 40%;
	padding: 0.5rem;
    margin: 0.4rem 0;
    box-sizing: border-box;
    border: 0.6px solid #C0C0C0;
   	font-family: Arial;
   	font-size: 0.8rem;
   	transition: 0.5s;
}

input[type=text]:focus, textarea {
	border: 0.6px solid #555;
	outline: none;
}

input[type=date] {
	width: 30%;
	padding: 0.5rem;
    margin: 0.4rem 0;
 	font-family: Arial;
    font-size: 0.8rem;
    box-sizing: border-box;
    border: 1px solid gray;
}

input[type=date]:focus {
	border: 1.5px solid #555;
	outline: none;
}

.zip {
	width: 45%;
}

.pnumber {
	width: 75%;
}

.details-payment {
	line-height: 2.5rem;
	float: left;
}

.details-delivery {
	line-height: 2.5rem;
	float: right;
	margin-right: 7rem;
}

.fields
{
	margin-top: 2rem;
}

/* //////////////////////////////////////////*/

/* LINKS + IMAGES ///////////////////////////*/

a {
	text-decoration: underline;
	color: #F7CB11;
}

a.product-link {
	color: black;
	font-family: Affogato-Regular;
	text-decoration: none;
	transition: color 0.5s;
}

a.product-link:hover, focus {
	color: #F9D955;
}

a:hover {
	color: #F9D955;

}

figure{
	display:inline;
	height:100%;
}

figure.cover{
	margin:0;
}

figure.banner{
	margin-left:0;
	height:100%;
	
}

.progress-bar img {
	margin-left: 17%;
	width: 715px;
	height: 115px;
}


img{
	width:100%;
	height:100%;
}


img.hash{
	height:100%;
	width:100%;
}


.logo figure
{
	margin-left:0;
}

img.logo{

	max-width:350px;
	max-height:40px;
	margin-left:2rem;

}

div.logo {

  width: 100%;
  margin-bottom: -2rem;
  margin-top: 2rem;
}




img.foodpic {
	max-width: 20%;
	max-height: 20%;
}

hr.gray-line
{
	color: #EDEDED;
}

/* /////////////////////////////////////////*/

/* CART ///////////////////////////////////*/


.cart
{
   display:inline-block;
   /*border:solid 1px red;*/
}

.cart figure
{
	margin-left:0;
}

.cart img {
	width: 28px;
	height: 26px;
	clear: both;
	float: right;
	display: inline-block;
	padding:0;
	margin-left: -2.5rem;/*
	margin-right: 0.5rem;*/
    /*border: solid 1px blue;*/
	/*margin-right: 11rem;*/
}

table, th, td {
	text-align: left;

}

th
{
	font-weight: bold;
	padding-bottom: 0.7rem;
}

th.label-padding
{
	padding-left: 3rem;
}

td.label-padding
{
	padding-left: 3rem;
}


th, td {
	border-bottom: 1px solid #ddd;
}

td 
{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.quantity 
{
	padding-left: 4.5em;
}

.total {
	padding-top: 1rem;
	font-size: 1.1rem;
	padding-right: 6.5rem;
	float: right;
}

table {
	border-collapse: collapse;
}

/* BLOCKS /////////////////////////////////*/

div.color1 {
  background-color:#F7CB11;
  display:inline-block;
}

div.color2 {
  background-color: #F8F059;
  display:inline-block;
}

div.color3 {
  display:inline-block;
  background-color: #0CC10C;
}

div.color4 {
  display:inline-block;
  background-color: #049904;
}




.cover {
  width: 100%;
  height:100%;
  margin-top: 40px;
  margin-bottom: 40px; 
  padding:0 ;

  }



/* //////////////////////////////////////*/

/* PRODUCT PAGE ////////////////*/

textarea
{
	/* reference: https://www.w3schools.com/css/css_form.asp */
	width: 96%;
	height: 120px;
	padding: 0.5rem;
    margin: 0.4rem 0;
    box-sizing: border-box;
    border: 1px solid gray;
    resize:none;
}
.grid-col-1of2 > h3
{
	padding:1.5rem;
	margin-left:1rem;
	margin-right:1rem;
}

.grid-col-1of2 > p
{
	padding-left:1.5rem;
	padding-right:1.5rem;
	margin-left:1rem;
	margin-right:1rem;
}

.grid-col-1of2 .product-image
{
	padding:1.5rem;
	width: 90%;

	/* reference: http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/;*/
	position: relative;
	left:50%;
	transform: translateX(-50%);
}

.review-form > h3
{
	padding: 1.5rem;
}

.review-form form
{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 1.5rem;
}

.review-form
{
	margin-left: 2rem;
	/*border: solid 1px green;*/

}

.submit-review
{
	cursor:pointer;
}

.review-feedback
{
	display:none;
}

.nutrition-table
{
	margin-top:-1.5rem;
	margin-left: 2.5rem;
	width:80%;

}

/*.nutrition-table table
{
	border-collapse:collapse;
}
*/

[class^='nutrition-']
{
	font-family: Affogato-Regular;
}

.nutrition-table th
{
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}


.nutrition-bold 
{
	font-family: Affogato-Medium;
	padding-right: 0.5rem;
	border-bottom: solid 1px;
	border: rgb(150, 150, 150);
}

.nutrition-subh
{
	margin-left:0.5rem;
	padding-right:0.5rem;
	border:none;
}

.nutrition-divider-fat
{
	display:block;
	border-top: solid 7px #F9D955;
	padding-top:0.5rem;
	/*margin-bottom:0.5rem;*/

	width:100%;
}

.nutrition-divider-thin
{
	display:block;
	border-bottom: solid 4px #F9D955;
	margin-bottom:0.5rem;
}

.nutrition-percent
{
	float:right;
	margin-left:10rem;
	/*text-align:right;*/
}


/* //////////////////////////////////////*/

/* PRODUCT LISTING ////////////*/

/* reference: 
   https://www.w3schools.com/howto/howto_css_image_overlay.asp */

.product-row
{
	/*border: solid 1px green;*/
}

.product-section
{
	padding-left: 1rem;
}

.product-item
{
	margin: 1rem;
	display: inline-block;

	/*set width in accordance to # of columns*/
	/*width: 30%; */
}


.column-about {

	margin: 1rem;
	display: inline-block;
	width: 30%;

}


.column-home {

	margin: 1rem;
	display: inline-block;
	width: 30%;
	margin-top: 5rem;

}

.abt {


	width: 100%;
	height: 100%;
}

.home {
	margin-top: 3rem;

}

.homeright {
	margin-top: 3rem;
	padding-left: 1rem;
	
}

.homeleft {
	margin-top: 3rem;
	padding-right: 1rem;
	
}

.aboutcontact




.product-image
{
	position: relative;
	max-width:100%;
	height:auto;
}

.product-image figure
{
	display:inline-block;
	margin:0;
}

.product-image img
{
	max-width: 100%;
	max-height: 100%;
}

.product-overlay
{
	position: absolute;
	/*background-color: rgb(182, 212, 51);*/
	background-color: #F9D955;
	top: 0;
 	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 99.25%; /*remove slight extra border at the bottom*/

	opacity:0;
}

.product-item:hover .product-overlay
{
  cursor: pointer;

  /* change opacity*/
  opacity: 0.45;
  transition: opacity 0.5s ease-in-out;
}

.product-description
{
	line-height: 1.5rem;
}

.product-price, .product-name
{
	display:block;
	margin-top: 0.25rem;
}

.product-price
{
	margin-bottom: 1rem;
}

.product-info
{
	margin-top: 0.5rem;
	text-align: center;
}

.product-image-hor img
{
	max-width: 20%;
	max-height: 20%;
	float: left;

}

/*.product-item-hor
{
	margin: 1rem;
	width: 20%; set width in accordance to # of columns
}

.product-image-hor
{
	position: relative;
	width:100%;
	height:auto;

}*/

.product-name-hor
{
	float: left;
	padding-left: 1rem;
}

.remove-cart-item
{
	cursor:pointer;
}


.empty-cart
{
	display:none;
	margin-top: 1rem;

}


/* //////////////////////////////////////*/

/* FOOTER //////////////////////////////*/

.footer {
	display: inline-block;
	width: 100%;
	background: #FFF8DC;
	margin-top: 10rem;
	padding: 1rem 2rem 2rem;
	padding-top: 2rem;
	padding-bottom: 2.2rem;
	/*margin-left: -10rem;*/
}

.credits {
	font-size: 0.9rem;
	float: left;
	padding-top: 0.4rem;
	padding-left: 6rem;
	width: 30%;
	line-height: 1.5rem;

}

.social {
	padding-top: 1.3rem;
	float: right;
	padding-left: 4rem;
	margin-left: 8rem;

	width:25%;
}

.social-icons
{
	margin-left:auto;
	margin-right:auto;
}


.social img {
	width: 45px;
	height: 45px;
}

.icon-overlay {
	cursor: pointer;
	/* change opacity*/
	opacity: 0.45;
	transition: opacity 0.5s ease-in-out;
}
