body { 
	font-family: Affogato-Regular;
	margin:0;
	padding:0;
	min-height: 100%;
	position: relative;
}

html {
	height: 100%;
}

#content {
	margin-left: 10rem;
	margin-top: 2rem;
	width: 74%;
	height: 100%;

}

code {
	background-color: rgb(211, 211, 211);
	margin-left: 1rem;
	font-family: Affogato-Regular;
	display: inline-block;
}

/* FONTS /////////////////////////////////////*/

@font-face {
    font-family: 'Affogato-Light';
    src: url('webfont/Affogato_Light.woff');
}

@font-face{
	font-family: 'Affogato-Regular';
	src: url('webfont/Affogato_Regular.woff');
}

@font-face{
	font-family:'Affogato-Medium';
	src: url('webfont/Affogato-Medium.woff');
}

@font-face{
	font-family:'brandon-grotesque';
	src:url('webfont/Brandon_reg_0.otf');
}


/* ////////////////////////////////////////////*/

/* HEADERS ////////////////////////////////////*/

h1{
	font-size: 2rem;
	margin-top: 4rem;
}


h1.hashtag{
	text-align: center;
	font-size: 3rem;
	color: #0CC10C;
	margin-top: 5rem;
}


p.homecontent{
	font-size:1.5rem;
}

p.hashtagcontent{
	text-align: center;
	font-size: 1.2rem;
	color: gray;
	margin-top: -30px;
}

h1.promo{

	text-align: center;
	font-size: 2.5rem;
	color: #ffcc00;
	margin-top: 5rem;

}









/* ////////////////////////////////////////////*/

/* BUTTONS ////////////////////////////////////*/

.submit {
	background-color: #0CC10C;
	color: white;
	padding: 0.4rem;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	font-size: 1rem;
	font-family: Affogato-Regular;
	text-decoration: none;
	border-radius: 5px;
}

.submit:hover, focus {
	color: white;
	background-color: #24c724;
}

.submit-checkout {
	background-color: #0CC10C;
	color: white;
	padding: 0.4rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	margin-top: 5rem;
	font-size: 1rem;
	font-family: Affogato-Regular;
	text-decoration: none;
	border-radius: 5px;
	float: right;
	clear: both;
	display: inline-block;
}

.submit-checkout:hover, focus {
	color: white;
	background-color: #24c724;
}

.submit-back {
	background-color: gray;
	color: white;
	padding: 0.4rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	margin-top: 5rem;
	font-size: 1rem;
	font-family: Affogato-Regular;
	text-decoration: none;
	border-radius: 5px;
	float: left;
	display: inline-block;
}

.submit-back:hover, focus {
	color: white;
	background-color: #939393;
}

.submit-center {
	background-color: #0CC10C;
	color: white;
	padding: 0.4rem;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	margin-top: 2rem;
	margin-left: 40%;
	font-size: 1rem;
	font-family: Affogato-Regular;
	text-decoration: none;
	border-radius: 5px;
	display: inline-block;
}

.submit-center:hover, focus {
	color: white;
	background-color: #24c724;
}

.confirm
{
	text-align: center;
	padding-top: 2rem;
	line-height: 1.5rem;
}

/* ///////////////////////////////////////////*/

/* NAV BAR ///////////////////////////////////*/

.nav-bar {
	float: right;
	margin-right: 13rem;
	margin-top: 1.5rem;
}

.button-nav {
	color: gray;
	display: inline-block;
	padding: 0.3rem;
	padding-left: 0.1rem;
	padding-right: 5rem;
	font-size: 0.9rem;
	font-family: Affogato-Regular;
	text-decoration: none;
	transition: color 0.5s;
}

.button-nav:hover, focus {
	color: #0CC10C;
	text-decoration: underline;
}

/* //////////////////////////////////////////*/

/*.product-image img {
	max-width: 100%;
}*/

/*.product-info {
	margin-top: auto;
	display: block;
}*/

/* STYLE GUIDE ///////////////////////////////*/

.main {
	font-family: brandon-grotesque, Arial;
	color: #0CC10C;
	font-size: 30px;
}

.product-card {
	padding: 1rem;
	text-align: center;
	vertical-align: top;
	display: inline-block; 
	line-height: 0.1rem;
}

h6 {
	color: red;
}

.sec {
	font-family: brandon-grotesque, Arial;
	color: rgb(65, 64, 66);
	font-size: 24px;
}

.section {
	font-family: brandon-grotesque, Arial;
	color: rgb(65, 64, 66);
	font-size: 20px;
}

.test {
	font-family: Affogato-Regular;
	color: rgb(65, 64, 66);
	line-height: 1.3rem;
	font-size: 14px;
	width: 100%;
}

/* //////////////////////////////////////////*/

/* FORMS ////////////////////////////////////*/

input[type=text] {
	width: 40%;
	padding: 0.5rem;
    margin: 0.4rem 0;
    box-sizing: border-box;
    border: 0.2px solid gray;
   	font-family: Arial;
   	font-size: 0.8rem;
}

input[type=text]:focus, textarea {
	border: 1.5px solid #555;
	outline: none;
}

input[type=date] {
	width: 30%;
	padding: 0.5rem;
    margin: 0.4rem 0;
 	font-family: Arial;
    font-size: 0.8rem;
    box-sizing: border-box;
    border: 1px solid gray;
}

input[type=date]:focus {
	border: 1.5px solid #555;
	outline: none;
}

.zip {
	width: 45%;
}

.pnumber {
	width: 75%;
}

.details-payment {
	line-height: 2.5rem;
	float: left;
}

.details-delivery {
	line-height: 2.5rem;
	float: right;
	margin-right: 7rem;
}

.fields
{
	margin-top: 2rem;
}

/* //////////////////////////////////////////*/

/* LINKS + IMAGES ///////////////////////////*/

a {
	text-decoration: underline;
	color: #F7CB11;
}

a:hover {
	color: #F9D955;

}

figure{
	display:inline;

}


figure.cover{
	margin:0;
}

img.foodpic {
	max-width: 20%;
	max-height: 20%;
}

hr.gray-line
{
	color: #EDEDED;
}

/* /////////////////////////////////////////*/

/* CART ///////////////////////////////////*/


.cart
{
   display:inline-block;
   /*border:solid 1px red;*/
}

.cart figure
{
	margin-left:0;
}

.cart img {
	width: 40px;
	height: 33px;
	clear: both;
	float: right;
	display: inline-block;
	padding:0;
	margin-left: -2.5rem;/*
	margin-right: 0.5rem;*/
    /*border: solid 1px blue;*/
	/*margin-right: 11rem;*/
}

table, th, td {
	text-align: left;

}

th
{
	font-weight: bold;
	padding-bottom: 0.7rem;
}

th.label-padding
{
	padding-left: 3rem;
}

td.label-padding
{
	padding-left: 3rem;
}


th, td {
	border-bottom: 1px solid #ddd;
}

td 
{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.quantity 
{
	padding-left: 4.5em;
}

.total {
	padding-top: 1rem;
	font-size: 1.1rem;
	padding-right: 6.5rem;
	float: right;
}

table {
	border-collapse: collapse;
}

/* BLOCKS /////////////////////////////////*/

div.color1 {
  background-color:#F7CB11;
  display:inline-block;
}

div.color2 {
  background-color: #F8F059;
  display:inline-block;
}

div.color3 {
  display:inline-block;
  background-color: #0CC10C;
}

div.color4 {
  display:inline-block;
  background-color: #049904;
}

div.logo {
/*  display:inline-block;*/
  /*margin-left: 10rem;
  margin-top: 1rem;*/
  width:200px;height:60px;"
}

.cover {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px; 
  padding:0 ;

  }



/* //////////////////////////////////////*/

/* PRODUCT PAGE ////////////////*/

textarea
{
	/* reference: https://www.w3schools.com/css/css_form.asp */
	width: 80%;
	height: 120px;
	padding: 0.5rem;
    margin: 0.4rem 0;
    box-sizing: border-box;
    border: 1px solid gray;
    /*resize:none;*/
}
.grid-col-1of2 > h3
{
	padding:1.5rem;
	margin-left:1rem;
	margin-right:1rem;
}

.grid-col-1of2 > p
{
	padding-left:1.5rem;
	padding-right:1.5rem;
	margin-left:1rem;
	margin-right:1rem;
}

.grid-col-1of2 .product-image
{
	padding:1.5rem;
	width: 90%;

	/* reference: http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/;*/
	position: relative;
	left:50%;
	transform: translateX(-50%);
}

.review-form > h3
{
	padding: 1.5rem;
}

.review-form form
{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 1.5rem;
}

.review-form
{
	margin-left: 2rem;
	/*border: solid 1px green;*/

}

.submit-review
{
	cursor:pointer;
}

.review-feedback
{
	display:none;
}

.nutrition-table
{
	margin-top:-1rem;
	margin-left: 2.5rem;

	width:80%;

}

/*.nutrition-table table
{
	border-collapse:collapse;
}
*/

.nutrition-table th
{
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}


.nutrition-bold 
{
	font-family:Affogato-Medium;
	padding-right:0.5rem;
	border:bottom: solid 1px rgb(150, 150, 150);
}

.nutrition-subh
{
	margin-left:0.5rem;
	padding-right:0.5rem;
	border:none;
}

.nutrition-divider-fat
{
	display:block;
	border-bottom: solid 7px #F9D955;
	margin-bottom:0.5rem;
}

.nutrition-divider-thin
{
	display:block;
	border-bottom: solid 4px #F9D955;
	margin-bottom:0.5rem;
}

.nutrition-percent
{
	float:right;
	margin-left:10rem;
	/*text-align:right;*/
}


/* //////////////////////////////////////*/

/* PRODUCT LISTING ////////////*/

/* reference: 
   https://www.w3schools.com/howto/howto_css_image_overlay.asp */

.product-row
{
	/*border: solid 1px green;*/
}

.product-section
{
	padding-left: 1rem;
}

.product-item
{
	margin: 1rem;
	display: inline-block;

	width: 30%; /*set width in accordance to # of columns*/
}


.column-about {

	margin: 1rem;
	display: inline-block;
	width: 30%;

}


.column-home {

	margin: 1rem;
	display: inline-block;
	width: 30%;

}

.abt {

	background-color: gray;
	width: 100%;
	height: 100%;
}



.home {

	width: 100%;
	height: 100%;
}

.product-image
{
	position: relative;
	max-width:100%;
	height:auto;
}

.product-image figure
{
	display:inline-block;
	margin:0;
}

.product-image img
{
	max-width: 100%;
	max-height: 100%;
}

.product-overlay
{
	position: absolute;
	/*background-color: rgb(182, 212, 51);*/
	background-color: #F9D955;
	top: 0;
 	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 99.25%; /*remove slight extra border at the bottom*/

	opacity:0;
}

.product-item:hover .product-overlay
{
  cursor: pointer;

  /* change opacity*/
  opacity: 0.45;
  transition: opacity 1s ease-in-out;
}

.product-description
{
	line-height: 1.5rem;
}

.product-price, .product-name
{
	display:block;
	margin-top: 0.25rem;
}

.product-price
{
	margin-bottom: 1rem;
}

.product-info
{
	margin-top: 0.5rem;
	text-align: center;
}

.product-image-hor img
{
	max-width: 20%;
	max-height: 20%;
	float: left;

}

/*.product-item-hor
{
	margin: 1rem;
	width: 20%; set width in accordance to # of columns
}

.product-image-hor
{
	position: relative;
	width:100%;
	height:auto;

}*/

.product-name-hor
{
	float: left;
	padding-left: 1rem;
}

/* //////////////////////////////////////*/

/* FOOTER //////////////////////////////*/

.footer {
	display: inline-block;
	width: 135%;
	background: #F0F0F0;
	margin-top: 10rem;
	padding: 1rem 2rem 2rem;
	padding-top: 2rem;
	padding-bottom: 2.2rem;
	margin-left: -10rem;
}

.credits {
	font-size: 0.9rem;
	float: left;
	padding-top: 0.4rem;
	padding-left: 6rem;
}

.social {
	padding-top: 0.5rem;
	float: right;
	padding-right: -4rem;
	margin-left: 8rem;
}

.social img {
	width: 45px;
	height: 45px;
	margin-left: -4rem;
}

/* /////////////////////////////////*/

/*CITATIONS

Footer: https://codepen.io/cbracco/pen/zekgx
Icons: https://www.vecteezy.com/vector-art/95039-free-social-media-icons

*/